<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="JasminePOSDB" connectionString="data source=(localdb)\ProjectsV13;initial catalog=Jasmine.POS.DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="JasminePOSDB" connectionString="Data Source=DESKTOP-PLUR5GD\SQLEXPRESS;Initial Catalog=Jasmine.POS.DB;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>